{{#each this}}
<div class="country">
    <h2 class="country-name">{{name}}</h2>
    <h3 class="capital">Capital: {{capital}}</h3>
    <p class="population">Population: {{population}}</p>    
    <ul class="languages-list">Languages: 
        {{#each languages}}
        <li class="language">{{{this.name}}}</li>
        {{/each}}    
    </ul>
    <img src={{flag}} alt="flag" class="flag-image">
</div>
{{/each}}